services:
  nodejs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nodejs
    environment:
      - APP_NAME=default nodejs application server
    ports:
      - 8080:8080
